<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Register</title>
	</head>
	<script src="/public/javascript/jquery-3.1.0.min.js"></script>
 	<script type="text/javascript">
 		var insertData = function(){

 			if($("input[name='password']").val() != $("input[name='password1']").val()){
 				alert('password not match');
 				return;
 			}
 			var data = {};<% for(var i=0; i<fieldModel.length; i++) {%>
 			data.<%=fieldModel[i].fieldName; %> = $("input[name='<%=fieldModel[i].fieldName; %>']").val();<% } %>

 			$.ajax({
 				url:'/login/register',
 				type:'POST',
 				data:data,
 				success: function(result){
 					if(result.resCode == 0){
 						alert('insert completed completed');	
 					}else{
 						alert(result.resDesc);
 					}
 				}
 			})
 		}
 	</script>
	<body>
		<div>
			username : <input type="text" name="username"><br>
			password : <input type="password" name="password"><br>
			re-password : <input type="password" name="password1"><br>
			
			<% for(var i=0; i<fieldModel.length; i++) {%><% if(fieldModel[i].fieldName != "username" && fieldModel[i].fieldName != "password") { %><%=fieldModel[i].fieldName; %> : <input type="text" id="<%=fieldModel[i].fieldName; %>" name="<%=fieldModel[i].fieldName; %>"><br>
			<% } } %>
			<input type="button" value="insert" onclick="insertData()">
		</div>
	</body>
</html>